$brand-primary:     #660c2e;
$text-color:        #d8d8d8; /*
$brand-success:     #00bc8c;
$brand-info:        #3498db;
$brand-warning:     #f39c12;
$brand-danger:      #e74c3c;
$gray-base:         #000;
$gray-darker:       lighten($gray-base, 13.5%);
$gray-dark:         #303030;
$gray:              #464545;
$gray-light:        #999;
$gray-lighter:      #ebebeb; */
$navbar-border-radius: 0;
$navbar-inverse-color: $brand-primary;
$navbar-inverse-bg: #fff;
$footer-height: 185px;
@import 'variables'; /* set as part of the bootswatch theme, darkly */
@import 'bootstrap';
@import 'darkly'; /* theme from bootswatch, pick any one you like! */
.navbar-brand svg {
  height: 45px;
  margin-top: -11px; /* change this if your logo height changes */
  path {
    fill: $brand-primary;
  }
}
.footer-brand svg {
  height: 75px;
  path {
    fill: $gray-light;
  }
}
footer {
  @extend .well, .text-muted, .text-center;
  margin: 0;
  border-radius: 0;
  .copyright {
    margin: 20px;
  }
}
@media (max-width: 767px) {
  .navbar-brand {
    font-size: 16px;
    &.logo { padding-right: 5px; }
    svg {
      height: 20px;
      margin-top: 0;
    }
  }
}
.navbar-brand.title {
  margin-left: 0;
  padding-left: 0;
  text-transform: uppercase;
}
.navbar {
  &.first {
    margin-bottom: 0;
    .navbar-header {
      float: none;
    }
  }
  &.second {
    min-height: 0;
  }
  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar-collapse, .navbar-header {
    text-align: center;
  }
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: $brand-primary;
}
.form-heading { margin-top: 0; }
.form-container { margin-bottom: 50px; }
/* affix sidebar code. will break if you change grid sizes. */
@media (max-width: 991px) {
  .container.content { padding-bottom: 20px; }
  .affix, .affix-top, .affix-bottom { position: static; }
}
@media (min-width: 992px) {
  .container.content { padding-bottom: 50px; }
  .affix {
    top: 21px;
    width: 374.156px;
  }
  .affix-bottom {
    position: absolute;
    width: 374.156px;
  }
}
@media (min-width: 1200px) {
  .affix, .affix-bottom {
    width: 457.5px;
  }
}
/* end of affix sidebar */
.progress.with-text { margin-bottom: 0; }
