<form class="form" method="POST" act="{{ site.forms.post_url }}">
  <h2 class="form-heading text-center">{{ page.petition_title }}</h2>
  {% if page.progress %}
  <div class="progress with-text">
    <div class="progress-bar progress-bar-primary" style="width: {{ page.progress }}"></div>
  </div>
  <p class="text-primary text-center">{{ page.progress_text }}</p>
  {% endif %}

  {% if site.forms.combine_names %}
  <p>
    <label for="inputFullname" {% if site.forms.labels %}{%else%}class="sr-only"{%endif%}>Your name</label>
    <input name="full_name" type="text" id="inputFullname" class="form-control" {% if site.forms.labels %}{%else%}placeholder="Your name"{%endif%} autofocus>
  </p>
  {% else %}
  <p>
    <label for="inputFirstname" {% if site.forms.labels %}{%else%}class="sr-only"{%endif%}>First name</label>
    <input name="first_name" type="text" id="inputFirstname" class="form-control" {% if site.forms.labels %}{%else%}placeholder="First name"{%endif%} autofocus>
  </p>
  <p>
    <label for="inputLastname" {% if site.forms.labels %}{%else%}class="sr-only"{%endif%}>Last name</label>
    <input name="last_name" type="text" id="inputLastname" class="form-control" {% if site.forms.labels %}{%else%}placeholder="Last name"{%endif%}>
  </p>
  {% endif %}

  <p>
    <label for="inputEmail" {% if site.forms.labels %}{%else%}class="sr-only"{%endif%}>Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" {% if site.forms.labels %}{%else%}placeholder="Email address"{%endif%} required>
  </p>
  <p>
    <label for="inputPostal" {% if site.forms.labels %}{%else%}class="sr-only"{%endif%}>Postal code</label>
    <input name="postal_code" type="text" id="inputPostal" class="form-control" {% if site.forms.labels %}{%else%}placeholder="Postal code"{%endif%} required>
  </p>

  <button class="btn btn-lg btn-primary btn-block" type="submit">{{ site.forms.submit_text }}</button>

  <p class="checkbox">
    <label>
      <input name="optin" type="checkbox" value="true" checked> I'd like to stay involved in this and other campaigns
    </label>
  </p>

</form>
