<form class="form" method="POST" act="{{ site.forms.post_url }}">
  <h2 class="form-heading text-center">{{ page.petition_title }}</h2>
  {% if page.progress %}
  <div class="progress with-text">
    <div class="progress-bar progress-bar-primary" style="width: {{ page.progress }}"></div>
  </div>
  <p class="text-primary text-center">{{ page.progress_text }}</p>
  {% endif %}
  {% if page.forms.hide_name %}{% else %}
  {% if site.forms.combine_names %}
  <p>
    <label for="inputFullname" {% unless page.forms.labels %}class="sr-only"{% endunless%}>Your name</label>
    <input name="full_name" type="text" id="inputFullname" class="form-control" {% unless page.forms.labels %}placeholder="Your name"{% endunless %} autofocus>
  </p>
  {% else %}
  <p>
    <label for="inputFirstname" {% unless page.forms.labels %}class="sr-only"{% endunless%}>First name</label>
    <input name="first_name" type="text" id="inputFirstname" class="form-control" {% unless page.forms.labels %}placeholder="First name"{% endunless %} autofocus>
  </p>
  <p>
    <label for="inputLastname" {% unless page.forms.labels %}class="sr-only"{% endunless %}>Last name</label>
    <input name="last_name" type="text" id="inputLastname" class="form-control" {% unless page.forms.labels %}placeholder="Last name"{% endunless %}>
  </p>
  {% endif %}
  {% endif %}
  <p>
    <label for="inputEmail" {% unless page.forms.labels %}class="sr-only"{% endunless%}>Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" {% unless page.forms.labels %}placeholder="Email address"{% endunless %} required>
  </p>
  <p>
    <label for="inputPostal" {% unless page.forms.labels %}class="sr-only"{% endunless %}>Postal code</label>
    <input name="postal_code" type="text" id="inputPostal" class="form-control" {% unless page.forms.labels %}placeholder="Postal code"{% endunless %} required>
  </p>
  <p class="text-center">
    <button class="btn btn-primary{% unless page.forms.small_button %} btn-lg btn-block{% endunless %}" type="submit">{% if page.forms.submit_text %}{{ page.forms.submit_text}}{% else %}{{ site.forms.submit_text }}{% endif %}</button>
  </p>
  <p class="checkbox">
    <label>
      <input name="optin" type="checkbox" value="true" checked> I'd like to stay involved in this and other campaigns
    </label>
  </p>

</form>
